<div class="row">
    <div [dragula]='"first-bag"' style="min-height: 500px;" class="col s12 m6 l3 cyan darken-3">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Concepten
              </span>
            </div>
        </div>
        <div>
            <div class="card cyan lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <div [dragula]='"first-bag"' style="min-height: 500px;" class="col s12 m6 l3 orange darken-3">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Moet nog
              </span>
            </div>
        </div>
    </div>
    <div [dragula]='"first-bag"' style="min-height: 500px;" class="col s12 m6 l3  teal accent-3">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Mee bezig
              </span>
            </div>
        </div>
        <div class="card cyan lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div [dragula]='"first-bag"' style="min-height: 500px;" class="col s12 m6 l3 purple lighten-2">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Klaar
              </span>
            </div>
        </div>
    </div>
</div>