<div class="row">
    <div style="min-height: 700px;" class="col s12 m6 l3 cyan darken-3">
        
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="assets/1.png" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Concepten
              </span>
            </div>
        </div>
        <div [dragula]='"first-bag"'>
        <div>
            <div class="card cyan lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Titel taak</span>
                    <p>Omschrijving kaart</p>

                </div>
                <div class="card-action">
                    <a (click)="openDialog()">Link/Opties</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div style="min-height: 700px;" class="col s12 m6 l3 orange darken-3">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="assets/2.png" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Moet nog
              </span>
            </div>
        </div>
        <div [dragula]='"first-bag"'>
        <div class="card cyan lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Andere titel Kaart</span>
                <p>En nog een trotse tekst.</p>
            </div>
            <div class="card-action">
                <a (click)="openDialog()">Link/Opties</a>
            </div>
        </div></div>
    </div>
    <div style="min-height: 700px;" class="col s12 m6 l3  teal accent-3">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="assets/3.png" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Mee bezig
              </span>
            </div>
        </div>
        <div [dragula]='"first-bag"'>
        <div class="card cyan lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Andere titel Kaart</span>
                <p>En nog een trotse tekst.</p>
            </div>
            <div class="card-action">
                <a (click)="openDialog()">Link/Opties</a>
            </div>
        </div>
        <div class="card cyan lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Andere titel Kaart</span>
                <p>En nog een trotse tekst.</p>
            </div>
            <div class="card-action">
                <a (click)="openDialog()">Link/Opties</a>
            </div>
        </div>
</div>
    </div>
    <div style="min-height: 700px;" class="col s12 m6 l3 purple lighten-2">
        <div class="row valign-wrapper white">
            <div class="col s2">
                <img src="assets/4.png" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                Klaar
              </span>
            </div>
        </div>
        <div [dragula]='"first-bag"'>
        <div class="card cyan lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Andere titel Kaart</span>
                <p>En nog een trotse tekst.</p>
            </div>
            <div class="card-action">
                <a (click)="openDialog()">Link/Opties</a>
            </div>
        </div>
    </div></div>
</div>